{
	"$schema": "http://json.schemastore.org/prettierrc",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"semi": false,
	"singleAttributePerLine": true,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto"
}