name: Build

on:

    pull_request:
    # allows you to run this workflow manually from the Actions tab
    workflow_dispatch:
    # allow the workflow to be re-used in other workflows
    workflow_call:

jobs:

    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              id: pnpm-install
              with:
                version: 7
                run_install: false

            - name: Get pnpm store directory
              id: pnpm-cache
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

            - uses: actions/cache@v3
              name: Setup pnpm cache
              with:
                path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
                key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                    ${{ runner.os }}-pnpm-store-
          
            - name: Install dependencies
              run: pnpm install
      
            - name: Build
              run: |
                pnpm build
                pnpm export

            - name: Archive artifacts
              uses: actions/upload-artifact@v2
              with:
                name: exported-app
                path: out